.msp-cn-153-1 {
    border-top: 7px;
    border-right: 7px;
    border-bottom: 7px;
    border-left: 7px;
    border-color: #ffffff;
    border-style: solid;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-153-3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 16px;
    line-height: 56px;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-153-4 {
    background-color: #ffffff;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-153-5 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-153-6 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 16px;
    line-height: 56px;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-153-7 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-153-8 {
    background-color: #ffffff;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    opacity: 0.90;
}

.msp-cn-153-11 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    white-space: nowrap;
    color: #383838;
}

.msp-cn-153-12 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    white-space: nowrap;
    color: #9d9d9d;
}

.msp-cn-153-13 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #434343;
}

.msp-cn-153-14 {
    border-left: 2px;
    border-color: #cecece;
    border-style: dashed;
    font-weight: normal;
    line-height: normal;
    border-right: 0px !important;
}

.msp-cn-153-16 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #434343;
}

.msp-cn-153-17 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #434343;
}

.msp-cn-153-27 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}