.ms-parent > .master-slider {
    background: #353535 url(../img/testimonials1-bg.jpg) repeat top left;
}

.msp-cn-146-1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-146-2 {
    background-color: #ffffff;
    font-weight: normal;
    text-align: center;
    line-height: normal;
}

.msp-cn-146-4 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-5 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    line-height: 31px;
    color: #ffffff;
}

.msp-cn-146-6 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-7 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    color: #eeeeee;
}

.msp-cn-146-9 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-10 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    line-height: 31px;
    color: #ffffff;
}

.msp-cn-146-11 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-12 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    color: #eeeeee;
}

.msp-cn-146-14 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-15 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    line-height: 31px;
    color: #ffffff;
}

.msp-cn-146-16 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 111px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #929292;
}

.msp-cn-146-17 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    color: #eeeeee;
}

.ms-testimonials-1, .master-slider-parent > .master-slider {
    background-size: cover;
    background-repeat: no-repeat;
}