.msp-cn-141-1 {
    font-family: "Oswald";
    font-weight: 100;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #e38181;
}

.msp-cn-141-2 {
    font-family: "Oswald";
    font-weight: 100;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #e38181;
}

.msp-cn-141-3 {
    font-family: "Oswald";
    font-weight: 100;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #e38181;
}

.msp-cn-141-4 {
    font-family: "Oswald";
    font-weight: 100;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #e38181;
}

.msp-cn-141-7 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #7f7f7f;
    text-transform: uppercase;
}

.msp-cn-141-8 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #5f5f60;
    text-transform: uppercase;
}

.msp-cn-141-10 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #7a7a7a;
}

.msp-cn-141-13 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #5f5f60;
    text-transform: uppercase;
}

.msp-cn-141-14 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #5f5f60;
    text-transform: uppercase;
}

.msp-cn-141-15 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #5f5f60;
    text-transform: uppercase;
}

.msp-cn-141-18 {
    background-color: #f4cb68;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #333333;
}