.msp-cn-151-1 {
    border-top: 20px;
    border-right: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-color: #1b094b;
    border-style: solid;
    font-weight: normal;
    line-height: normal;
    opacity: 0.45;
}

.msp-cn-151-2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    color: #ffffff;
}

.msp-cn-151-3 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #9b9b9b;
}

.msp-cn-151-4 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #f1f1f1;
}

.msp-cn-151-5 {
    border-top: 20px;
    border-right: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-color: #7d1c73;
    border-style: solid;
    font-weight: normal;
    line-height: normal;
    opacity: 0.45;
}

.msp-cn-151-6 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    text-align: right;
    line-height: 66px;
    color: #ffffff;
}

.msp-cn-151-7 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    line-height: normal;
    color: #9b9b9b;
}

.msp-cn-151-8 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 16px;
    text-align: right;
    line-height: normal;
    color: #f1f1f1;
}

.msp-cn-151-9 {
    border-top: 20px;
    border-right: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-color: #385184;
    border-style: solid;
    font-weight: normal;
    line-height: normal;
    opacity: 0.45;
}

.msp-cn-151-10 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    color: #ffffff;
}

.msp-cn-151-11 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #9b9b9b;
}

.msp-cn-151-12 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #f1f1f1;
}