.ms-parent > .master-slider {
    background: url(../img/businessbg1280x500.jpg) repeat top left;
    background-size: cover;
}

.msp-cn-131-1 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-131-2 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-14 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-15 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-16 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-17 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-18 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.msp-cn-131-19 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffc24d;
}

.slibg .master-slider {
    background-size: cover;
}