.msp-preset-btn-178 {
    background-color: #ea3e4f;
    color: #fff;
    border: none !important
}

.msp-preset-btn-178:hover {
    text-decoration: none;
    background-color: #f75363;
    color: #f1f1f1
}

.msp-preset-btn-178:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-142-4 {
    font-family: "Parisienne";
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ea3e4f;
}

.msp-cn-142-5 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-6 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-7 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-8 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-9 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-10 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #a6a6a6;
    text-transform: uppercase;
}

.msp-cn-142-11 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #a6a6a6;
    text-transform: uppercase;
}

.msp-cn-142-12 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #a6a6a6;
    text-transform: uppercase;
}

.msp-cn-142-13 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #a6a6a6;
    text-transform: uppercase;
}

.msp-cn-142-15 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
    color: #2d2d2d;
}

.msp-cn-142-16 {
    padding-top: 13px;
    padding-right: 34px;
    padding-bottom: 13px;
    padding-left: 34px;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-142-17 {
    font-family: "Parisienne";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ea3e4f;
}

.msp-cn-142-20 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    color: #a6a6a6;
}

.msp-cn-142-21 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
    text-transform: uppercase;
}

.msp-cn-142-22 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #2d2d2d;
    text-transform: uppercase;
}

.msp-cn-142-23 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    color: #a6a6a6;
}

.msp-cn-142-34 {
    font-family: "Parisienne";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ea3e4f;
}

.msp-cn-142-37 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #ea3e4f;
}

.msp-cn-142-39 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-40 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    color: #2d2d2d;
}

.msp-cn-142-45 {
    background-color: #f4cb68;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #333333;
}

.ms-wedd-box-shadow {
    box-shadow: 0px 20px 28px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 20px 28px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 20px 28px 0px rgba(0, 0, 0, 0.4);
}