.msp-cn-137-4 {
    font-family: "Exo 2";
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 12px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}

.msp-cn-137-5 {
    font-family: "Exo 2";
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}

.msp-cn-137-11 {
    font-family: "Exo 2";
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 12px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}

.msp-cn-137-12 {
    font-family: "Exo 2";
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}

.msp-cn-137-17 {
    font-family: "Exo 2";
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 12px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}

.msp-cn-137-18 {
    font-family: "Exo 2";
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    line-height: normal;
    white-space: nowrap;
    color: #e5e5e5;
    text-transform: uppercase;
}