.msp-preset-btn-193 {
    background-color: transparent;
    border: 1px solid #d0d0d0;
    color: #565656
}

.msp-preset-btn-193:hover {
    text-decoration: none;
    color: #565656;
    background-color: #f9f9f9
}

.msp-preset-btn-193:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-171-1 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #565656;
    text-transform: uppercase;
}

.msp-cn-171-2 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 40px;
    line-height: normal;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-3 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-4 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-171-7 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #565656;
    text-transform: uppercase;
}

.msp-cn-171-8 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 40px;
    line-height: normal;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-9 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-10 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-171-13 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #565656;
    text-transform: uppercase;
}

.msp-cn-171-14 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 40px;
    line-height: normal;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-15 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-16 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-171-20 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-21 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-23 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-24 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-26 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-27 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}

.msp-cn-171-29 {
    font-family: "Kanit";
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #447792;
    text-transform: uppercase;
}

.msp-cn-171-30 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #929292;
}
