.msp-preset-btn-188 {
    background-color: #fff;
    color: #272727
}

.msp-preset-btn-188:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    color: #666
}

.msp-preset-btn-188:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-158-2 {
    background-color: #ffffff;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-158-3 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 4px;
    line-height: normal;
    white-space: nowrap;
    color: #272727;
    text-transform: uppercase;
}

.msp-cn-158-4 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: normal;
    white-space: nowrap;
    color: #272727;
}

.msp-cn-158-5 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: normal;
    white-space: nowrap;
    color: #272727;
}

.msp-cn-158-6 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: normal;
    white-space: nowrap;
    color: #272727;
}

.msp-cn-158-7 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: normal;
    white-space: nowrap;
    color: #272727;
}

.msp-cn-158-8 {
    background-color: #272727;
    font-weight: normal;
    text-align: center;
    line-height: normal;
}

.msp-cn-158-9 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-158-11 {
    font-family: "Martel";
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-158-12 {
    font-family: "Martel";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    color: #272727;
}

.msp-cn-158-34 {
    background-color: #f4cb68;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #333333;
}