.msp-cn-164-1 {
    background-color: #3996e4;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-2 {
    background-color: #f2f2f2;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-4 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 210px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    opacity: 0.1 !important;
}

.msp-cn-164-5 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
}

.msp-cn-164-9 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: normal;
    color: #a3c3df;
    text-transform: uppercase;
}

.msp-cn-164-10 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #858585;
}

.msp-cn-164-11 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 47px;
    color: #575757;
    text-transform: uppercase;
}

.msp-cn-164-15 {
    background-color: #3996e4;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-16 {
    background-color: #f2f2f2;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-17 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 210px;
    line-height: normal;
    color: #ffffff;
    opacity: 0.1
}

.msp-cn-164-18 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
}

.msp-cn-164-22 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: normal;
    color: #a3c3df;
    text-transform: uppercase;
}

.msp-cn-164-23 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #858585;
}

.msp-cn-164-24 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 47px;
    color: #575757;
    text-transform: uppercase;
}

.msp-cn-164-28 {
    background-color: #3996e4;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-29 {
    background-color: #f2f2f2;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-164-30 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 210px;
    line-height: normal;
    color: #ffffff;
    opacity: 0.1
}

.msp-cn-164-31 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
}

.msp-cn-164-35 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: normal;
    color: #a3c3df;
    text-transform: uppercase;
}

.msp-cn-164-36 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #858585;
}

.msp-cn-164-37 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 47px;
    color: #575757;
    text-transform: uppercase;
}