.msp-preset-btn-188 {
    background-color: #fff;
    color: #272727
}

.msp-preset-btn-188:hover {
    text-decoration: none;
    background-color: #f9f9f9;
    color: #666
}

.msp-preset-btn-188:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-159-1 {
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-color: #242424;
    border-style: solid;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    letter-spacing: 5.5px;
    line-height: 45px;
    color: #242424;
    text-transform: uppercase;
}

.msp-cn-159-18 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #666666;
}

.msp-cn-159-19 {
    background-color: #666666;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-159-20 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #a6a6a6;
}

.msp-cn-159-21 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #242424;
}

.msp-cn-159-22 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    letter-spacing: 5px;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-159-23 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.msp-cn-159-25 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #666666;
}

.msp-cn-159-26 {
    background-color: #666666;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-159-27 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #a6a6a6;
}

.msp-cn-159-28 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #242424;
}

.msp-cn-159-29 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    letter-spacing: 5px;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-159-30 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.msp-cn-159-32 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    color: #666666;
}

.msp-cn-159-33 {
    background-color: #666666;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-159-34 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #a6a6a6;
}

.msp-cn-159-35 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #242424;
}

.msp-cn-159-36 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    letter-spacing: 5px;
    line-height: normal;
    text-transform: uppercase;
}

.msp-cn-159-37 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}