.msp-preset-btn-172 {
    background-color: #353434;
    color: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    font-weight: 200
}

.msp-preset-btn-172:hover {
    text-decoration: none;
    background-color: #fff;
    color: #353434
}

.msp-preset-btn-172:active {
    text-decoration: none;
    top: 1px
}

.msp-preset-btn-173 {
    background-color: #fff;
    color: #353434;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.msp-preset-btn-173:hover {
    text-decoration: none;
    background-color: #353434;
    color: #fff
}

.msp-preset-btn-173:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-119-7 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.msp-cn-119-9 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-119-10 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-119-11 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    line-height: normal;
}

.msp-cn-119-14 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    text-align: right;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-119-16 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-119-21 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #3d3d3d;
}

.msp-cn-119-22 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #3d3d3d;
}