.msp-preset-btn-192 {
    background-color: #fff;
    color: #333
}

.msp-preset-btn-192:hover {
    background-color: #f9f9f9
}

.msp-preset-btn-192:active {
    top: 1px
}

.msp-cn-163-1 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.msp-cn-163-3 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 36px;
    text-align: right;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-4 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}

.msp-cn-163-5 {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-163-6 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}