.msp-preset-btn-175 {
    background-color: #769a2e;
    color: #fff
}

.msp-preset-btn-175:hover {
    text-decoration: none;
    background-color: #80a339;
    color: #fff
}

.msp-preset-btn-175:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-136-4 {
    font-family: "Arimo";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-5 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-6 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-7 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-136-8 {
    background-color: #ffffff;
    padding-top: 17px;
    padding-right: 19px;
    padding-bottom: 17px;
    padding-left: 19px;
    font-family: "Arimo";
    font-weight: 700;
    font-size: 42px;
    line-height: normal;
    white-space: nowrap;
    color: #3c3c3c;
}

.msp-cn-136-9 {
    background-color: #d43236;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-family: "Arimo";
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-10 {
    font-family: "Arimo";
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-14 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #eaeaea;
}

.msp-cn-136-15 {
    background-color: #ffffff;
    padding-top: 17px;
    padding-right: 19px;
    padding-bottom: 17px;
    padding-left: 19px;
    font-family: "Arimo";
    font-weight: 700;
    font-size: 42px;
    line-height: normal;
    white-space: nowrap;
    color: #3c3c3c;
}

.msp-cn-136-16 {
    background-color: #326bd4;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-family: "Arimo";
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-17 {
    font-family: "Arimo";
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-136-18 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #eaeaea;
}