.msp-cn-135-3 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ececec;
}

.msp-cn-135-6 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ececec;
}

.msp-cn-135-8 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #fafafa;
    text-transform: uppercase;
}

.msp-cn-135-9 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ececec;
}

.animated-mouse .ms-wheel-icon {
    -webkit-animation: scroll-wheel 1.3s ease-out infinite forwards;
    -moz-animation: scroll-wheel 1.3s ease-out infinite forwards;
    animation: scroll-wheel 1.3s ease-out infinite forwards;
}

@-webkit-keyframes scroll-wheel {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 0;
    }
}

@-moz-keyframes scroll-wheel {
    0% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
    50% {
        -moz-transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 0;
    }
}

@keyframes scroll-wheel {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 0;
    }
}