.msp-cn-170-6 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 10px;
    line-height: 88px;
    color: #373737;
}

.msp-cn-170-7 {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #bababa;
}

.msp-cn-170-10 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 10px;
    line-height: 88px;
    color: #373737;
}

.msp-cn-170-11 {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #bababa;
}

.msp-cn-170-12 {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 10px;
    line-height: 88px;
    color: #373737;
}

.msp-cn-170-13 {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #bababa;
}