.msp-cn-123-2 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 72px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-3 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 72px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-4 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 72px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-5 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    color: #b0b0b0;
}

.msp-cn-123-20 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-21 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-22 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
    text-transform: uppercase;
}

.msp-cn-123-23 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-24 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
    text-transform: uppercase;
}

.msp-cn-123-25 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
    text-transform: uppercase;
}

.msp-cn-123-26 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
    text-transform: uppercase;
}

.msp-cn-123-27 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-38 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-40 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-41 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
}

.msp-cn-123-42 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-123-43 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-123-44 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-46 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-48 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-49 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
}

.msp-cn-123-50 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-123-51 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-123-52 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-54 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-56 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-57 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
}

.msp-cn-123-58 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-123-59 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-123-60 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-62 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    line-height: normal;
    white-space: nowrap;
    color: #f8f8f8;
}

.msp-cn-123-64 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-123-65 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    color: #dcdcdc;
}

.msp-cn-123-66 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-123-67 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-123-68 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    white-space: nowrap;
    color: #f8f8f8;
}