/* Add here all your css styles (customizations) */
.post_img_paddingbottom {
    padding-bottom: 1em;
}

.slider_small_text {
    font-size: 2.5em;
}

.dark_button {
    background-color: #060404;
    color: #c1c1c1;
    border-color: #c1c1c1;
}

.dark_button:hover {
    background-color: #c1c1c1;
    color: #060404;
    border-color: #060404;
}

.light_button {
    background-color: #c1c1c1;
    color: #060404;
    border-color: #060404;
}

.light_button:hover {
    background-color: #060404;
    color: #c1c1c1;
    border-color: #c1c1c1;
}

.main_content_container {
    padding: 0 20px;
}

.small_slider {
    max-width: 70vw !important;
}

.top_header {
    position: fixed;
    top: 0;
}

.header_transparency {
    opacity: 1 !important;
}

.header_white_text {
    color: #efefef !important;
}

.hamburger_white_text {
    background: #efefef !important;
}

.white_bg_header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}