/* Add here all your css styles (customizations) */
.post_img_paddingbottom {
    padding-bottom: 1em;
}

.slider_small_text {
    font-size: 2.5em;
}

.dark_button {
    background-color: #060404;
    color: #c1c1c1;
    border-color: #c1c1c1;
}

.dark_button:hover {
    background-color: #c1c1c1;
    color: #060404;
    border-color: #060404;
}

.light_button {
    background-color: #c1c1c1;
    color: #060404;
    border-color: #060404;
}

.light_button:hover {
    background-color: #060404;
    color: #c1c1c1;
    border-color: #c1c1c1;
}

.main_content_container {
    padding: 0 20px;
}

.small_slider {
    max-width: 70vw !important;
}

.top_header {
    position: fixed;
    top: 0;
}

.header_transparency {
    opacity: 1 !important;
}

.header_white_text {
    color: #efefef !important;
}

.hamburger_white_text {
    background: #efefef !important;
}

.white_bg_header {
    background-color: rgb(255,255,255);
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 9;
}

@media (max-width:767px) {
    .slider_height_adj {
        padding: ;
    }
}

.hs-has-sub-menu > a::after {
    content: none;
}

a#nav-link-pages.nav_hover_blue:hover {
    color: #0073b1 !important;
}

.first_slide_font {
    font-family: Arial;
}

.second_slide_font {
    font-family: Open Sans;
}

.third_slide_font {
    font-family: Lora;
}

.search_icon {
    padding: 1em;
    padding-left: 2em;
    font-weight: 700;
}

.aboutus_hero {
    background-image: url('aboutus_hero.jpg');
    height: 568px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.aboutus_margiun {
    margin: 4em;
}

.quote_text_white {
    color: #efefef;
    font-size: 3em;
}

.post_hero {
    background-image: url('hero.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 429px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.aboutsus_title {
    padding-top: 100px;
    font-weight: 700;
}

.aboutus_accordion {
    width: 80% !important;
    padding: 20px;
}

.aboutus_contactform_header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078B6;
    margin-bottom: 1.8em;
    padding: 5px;
}

.aboutus_contactform_h2 {
    padding: 0.5em;
    color: #efefef;
}

.home_slider_annotation {
    font-size: 1em;
    color: #bfbfbf;
    text-align: right;
    display: block;
    line-height: 5px;
}

.post_header_centered {
    text-align: center;
}

.home_blue_bck_header {
    background-color: rgb(0,120,182);
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 9;
}

.btn_flex {
    display: flex;
    flex-flow: row norap;
}

.aboutus_read_bio {
    background-color: #0078B6;
}

.aboutus_header_spacer {
    width: 100vw;
    height: 105px;
}

.p_hero {
    font-size: 1.1rem;
}

.header_bck_color {
    background-color: white;
    border-bottom: 2px solid #0078B6;
}

.p_black {
    color: #555;
}

.p_popup_bio {
    text-align: center;
}