.msp-cn-169-1 {
    background-color: #ededed;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-169-5 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #333333;
    text-transform: uppercase;
}

.msp-cn-169-6 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-14 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-15 {
    background-color: #ededed;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-169-19 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #333333;
    text-transform: uppercase;
}

.msp-cn-169-20 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-21 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-22 {
    background-color: #ededed;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-169-26 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #333333;
    text-transform: uppercase;
}

.msp-cn-169-27 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-28 {
    background-color: #ffffff;
    padding-top: 7px;
    padding-right: 25px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-29 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    color: #333333;
}

.msp-cn-169-30 {
    background-color: #f88e6d;
    font-weight: normal;
    line-height: normal;
    white-space: nowrap;
    border-radius: 100%
}

.ms-skin-minimal .ms-time-bar {
    border-top: none !important;
}