.msp-cn-129-3 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-129-4 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-129-6 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-129-15 {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: normal;
    color: #434343;
}

.msp-cn-129-16 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
}

.msp-cn-129-22 {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: normal;
    color: #434343;
}

.msp-cn-129-24 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    white-space: nowrap;
    color: #434343;
}

.msp-cn-129-29 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #434343;
}

.msp-cn-129-30 {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 45px;
    letter-spacing: 1px;
    line-height: normal;
    color: #434343;
}

.ms-personal .portfolio-item:hover img {
    -webkit-transform: perspective(2000px) translateZ(-200px);
}

.ms-personal .portfolio-item img {
    transition: all 0.4s;
}