.msp-preset-btn-191 {
    color: #fff !important;
    background-color: #25323d !important;
    border: none !important
}

.msp-preset-btn-191:hover {
    text-decoration: none;
    background-color: #2d4559 !important;
    color: #f2f2f2 !important
}

.msp-preset-btn-191:active {
    text-decoration: none;
    top: 0.5px
}

.msp-preset-35 {
    background-color: #f4cb68;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #333
}

.msp-cn-162-2 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 44px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-3 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.7
}

.msp-cn-162-4 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase
}

.msp-cn-162-6 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 36px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-7 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.7
}

.msp-cn-162-14 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-15 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-16 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-17 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-18 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}

.msp-cn-162-19 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
}