.msp-preset-btn-186 {
    color: #fff;
    border: solid 1px #fff !important
}

.msp-preset-btn-186:hover {
    text-decoration: none;
    border-color: #f0f0f0 !important;
    color: #f0f0f0
}

.msp-preset-btn-186:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-152-10 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-152-11 {
    padding-top: 12px;
    padding-right: 52px;
    padding-bottom: 12px;
    padding-left: 52px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.msp-cn-152-12 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-152-13 {
    padding-top: 12px;
    padding-right: 52px;
    padding-bottom: 12px;
    padding-left: 52px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}

.msp-cn-152-14 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-152-15 {
    padding-top: 12px;
    padding-right: 52px;
    padding-bottom: 12px;
    padding-left: 52px;
    font-family: "Lato";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}