.ms-parent > .master-slider {
    background: #000000;
}

.master-slider .spinner-static {
    animation: none;
}

.master-slider .spinner-rotate {
    -webkit-animation: ms-spin-grid 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-animation: ms-spin-grid 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: ms-spin-grid 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@-moz-keyframes ms-spin-grid {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes ms-spin-grid {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes ms-spin-grid {
    100% {
        transform: rotate(-360deg);
    }
}