.msp-preset-btn-167 {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff
}

.msp-preset-btn-167:hover {
    text-decoration: none;
    border-color: #ddd;
    color: #ddd
}

.msp-preset-btn-167:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-120-6 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 45px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-8 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
}

.msp-cn-120-9 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
}

.msp-cn-120-10 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 45px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-14 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
}

.msp-cn-120-17 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-24 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-28 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-30 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
    text-transform: lowercase;
}

.msp-cn-120-31 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-120-47 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
}

.msp-cn-120-48 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #f2f2f2;
}