.msp-preset-7 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #77cba9;
}

.msp-preset-btn-169 {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff
}

.msp-preset-btn-169:hover {
    text-decoration: none;
    background-color: #fff;
    color: #666
}

.msp-preset-btn-169:active {
    text-decoration: none;
    top: 1px
}

.msp-preset-btn-170 {
    background-color: #fff;
    color: #666;
    border: 2px solid #fff
}

.msp-preset-btn-170:hover {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #666;
    border: 2px solid #f1f1f1
}

.msp-preset-btn-170:active {
    text-decoration: none;
    top: 1px
}

.ms-parent > .master-slider {
    background: #282e35;
}

.msp-cn-69-1 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}

.msp-cn-69-3 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}

.msp-cn-69-4 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #77cba9;
}

.msp-cn-69-6 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    color: #666666;
}

.msp-cn-69-7 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    color: #666666;
}

.msp-cn-69-8 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}

.msp-cn-69-9 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}

.msp-cn-69-10 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 136px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #77cba9;
}

.msp-cn-69-11 {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #8b8b8b;
}

.msp-cn-69-12 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
}

.msp-cn-69-13 {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}

.msp-cn-69-16 {
    font-family: "Raleway";
    font-weight: 100;
    font-size: 24px;
    text-align: right;
    line-height: normal;
    white-space: nowrap;
    color: #8b8b8b;
}

.msp-cn-69-18 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: normal;
}

.msp-cn-69-19 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #d4d4d4;
}