

.msp-cn-154-8 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: normal;
    white-space: nowrap;
    color: #b7b7b7;
}

.msp-cn-154-9 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 90px;
    line-height: normal;
    color: #faa568;
}

.msp-cn-154-10 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    color: #b1b0b0;
}

.msp-cn-154-11 {
    background-color: #dcdcdc;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-154-12 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #878686;
}

.msp-cn-154-14 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: normal;
    white-space: nowrap;
    color: #b7b7b7;
}

.msp-cn-154-15 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 90px;
    line-height: normal;
    color: #faa568;
}

.msp-cn-154-16 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    color: #b1b0b0;
}

.msp-cn-154-17 {
    background-color: #dcdcdc;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-154-18 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #878686;
}

.msp-cn-154-20 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: normal;
    white-space: nowrap;
    color: #b7b7b7;
}

.msp-cn-154-21 {
    font-family: "Arimo";
    font-weight: 700;
    font-size: 90px;
    line-height: normal;
    color: #faa568;
}

.msp-cn-154-22 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    color: #b1b0b0;
}

.msp-cn-154-23 {
    background-color: #dcdcdc;
    font-weight: normal;
    line-height: normal;
}

.msp-cn-154-24 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #878686;
}