.msp-preset-btn-179 {
    background-color: #ffaa30;
    color: #222;
    text-transform: uppercase;
    border: none !important
}

.msp-preset-btn-179:hover {
    text-decoration: none;
    color: #222;
    background-color: #eda237
}

.msp-preset-btn-179:active {
    text-decoration: none;
    top: 1px
}

.msp-preset-btn-179:focus {
    text-decoration: none;
    color: #222;
}

.msp-cn-144-2 {
    background-color: #222222;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    opacity: 0.949;
    box-shadow: 0px 33px 59px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 33px 59px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 33px 59px 0px rgba(0, 0, 0, 0.6);
}

.msp-cn-144-3 {
    background-color: #585858;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-144-4 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 85px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-144-5 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #8a8989;
    text-transform: uppercase;
}

.msp-cn-144-6 {
    padding-top: 15px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-left: 70px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-144-7 {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}