.tp-rs-menulink {
  text-decoration: none;
}

.soundcloudwrapper iframe {
  width: 100% !important
}

.tp-caption.R_social,
.R_social {
  color: rgba(0, 0, 0, .35);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0 0 0 0
}

.tp-caption.R_social:hover,
.R_social:hover {
  color: rgba(0, 0, 0, .50);
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0 0 0 0;
  cursor: pointer
}

#menu_forcefullwidth {
  z-index: 5000;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%
}

.tp-lowopacity {
  opacity: .75 !important;
}

.tp-caption.R_title,
.R_title {
  color: rgba(255, 255, 255, 1.00);
  font-size: 70px;
  line-height: 75px;
  font-weight: 700;
  font-style: normal;
  font-family: Montserrat;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0 0 0 0;
  letter-spacing: -2px
}
