.ms-parent > .master-slider {
    background: #232221;
}

.msp-cn-71-1 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-5 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    color: #fbfbfb;
}

.msp-cn-71-6 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 6px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-8 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 6px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-10 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 6px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-11 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
}

.msp-cn-71-13 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
}

.msp-cn-71-15 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-71-16 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}