.msp-preset-btn-190 {
    background-color: #1de9b6;
    color: #fff
}

.msp-preset-btn-190:hover {
    background-color: #20d8aa;
    color: #fff
}

.msp-preset-btn-190:active {
    top: 1px
}

.msp-cn-161-9 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-10 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    color: #b1b1b1;
}

.msp-cn-161-11 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-161-22 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-23 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-24 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-25 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-26 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-27 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-28 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-29 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-30 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-31 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-32 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-33 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #b1b1b1;
}

.msp-cn-161-35 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #bbbbbb;
}

.msp-cn-161-36 {
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-161-37 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    line-height: normal;
}