.msp-preset-btn-171 {
    background-color: #fff;
    color: #666;
    border: 2px solid #fff
}

.msp-preset-btn-171:hover {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #666;
    border: 2px solid #f1f1f1
}

.msp-preset-btn-171:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-118-1 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #e8e8e8;
}

.msp-cn-118-2 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 58px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-3 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-4 {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 29px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-5 {
    font-weight: normal;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-118-9 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-10 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-11 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-118-13 {
    font-family: "Raleway";
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}

.msp-cn-118-15 {
    font-family: "Kaushan Script";
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
}