.msp-preset-btn-125 {
    background-color: #222;
    color: #fff
}

.msp-preset-btn-125:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff
}

.msp-preset-btn-125:active {
    text-decoration: none;
    top: 1px
}

.msp-cn-134-4 {
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #3b3b3b;
}

.msp-cn-134-5 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-7 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

.msp-cn-134-8 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-9 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-134-13 {
    font-family: "Pacifico";
    font-weight: normal;
    font-size: 90px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #343434;
}

.msp-cn-134-16 {
    font-family: "Josefin Sans";
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #3b3b3b;
}

.msp-cn-134-17 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-18 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

.msp-cn-134-19 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-20 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-134-24 {
    font-family: "Pacifico";
    font-weight: normal;
    font-size: 90px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #343434;
}

.msp-cn-134-27 {
    font-family: "Josefin Sans";
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #f2a64e;
}

.msp-cn-134-28 {
    font-family: "Lato";
    font-weight: 900;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-29 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}

.msp-cn-134-30 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.msp-cn-134-31 {
    font-family: "Lato";
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.msp-cn-134-35 {
    font-family: "Pacifico";
    font-weight: normal;
    font-size: 90px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    color: #ec9b3c;
}